
	<div
		{% if post.get_field('wpb_css_id') %}
			id="{{ post.get_field('wpb_css_id') }}"
		{% else %}
			id="block-text-area-{{ post.ID }}"
		{% endif %} class="block-text-area block-text-area-{{ post.ID }} {{ post.get_field('wpb_css_class') }} {% if post.get_field('wpb_style') %} block-text-area-style-{{ post.get_field('wpb_style') }} {% endif %}">
		<div class="container">
			<div class="block-text-area-wrapper">
				{% if post.get_field('title') %}
					<div class="block-text-area-title">
						<h2>{{ post.get_field('title') }}</h2>
					</div>
				{% endif %}
				{% if post.get_field('content') %}
					<div class="block-text-area-content">
						{{ post.get_field('content') }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
