<li class="block" data-post-id="{{post_id}}" data-page-id="{{page_id}}" data-page-url="{{ page_url }}" data-block-buid="{{ block_buid }}" data-block-name="{{ block_name }}">

	<input type="hidden" name="_wpb_blocks[]" value="{{post_id}}">

	<div class="block-bar clearfix">
		<div class="block-name">{{ block_name }}</div>
		<div class="block-actions">
			{{ wpb_block_remove_link() }}
			{{ wpb_block_edit_link() }}
		</div>
	</div>

	{% if header %}
		<div class="block-content-preview-header">{{ header }}</div>
	{% endif %}

	<div class="block-content">
		<div class="block-content-loading">
			<span class="spinner"></span>
		</div>
		<div class="block-content-preview">
			{% block preview %}{% endblock %}
		</div>
	</div>

	{% if footer %}
		<div class="block-content-preview-footer">{{ footer }}</div>
	{% endif %}

</li>